<head>
  <style>
    /* Estilo para la franja de fondo */
    .menu-bg {
      background-color: #4B0082; /* Morado oscuro */
    }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark menu-bg">
  <div class="container-fluid justify-content-center">
    <a class="navbar-brand ms-auto me-auto text-center" href="#">Mi Sitio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav text-center">
        <li class="nav-item">
          <a class="nav-link" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Comprar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>